APPLICATION:
  PORT: 3003
  LOG:
    PATH:
  KEY:
    DEFAULT: tgcEOnliPuyvSAlOyC84SZu0yeZrfXW8
    RSA:
      PUBLIC: "-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCfJ75JadN0Pa/72piFxsVaOmNQ\nXNFsg6wP2ucJ9/Y5xJEV8wWkxbF+DQprXGWAYMXqMq3+xjPQ1++syM+kB8P/T1+Z\nHED0R4r7K6fFsvNpPdN7bc91z/eHxih8UnFXz8GxO8GDqQ4+pSKFAh2kuKMOM4tC\n+qBSLD7BKNPOLGIr6QIDAQAB\n-----END PUBLIC KEY-----\n"
      PRIVATE: "-----BEGIN RSA PRIVATE KEY-----\nMIICXQIBAAKBgQCfJ75JadN0Pa/72piFxsVaOmNQXNFsg6wP2ucJ9/Y5xJEV8wWk\nxbF+DQprXGWAYMXqMq3+xjPQ1++syM+kB8P/T1+ZHED0R4r7K6fFsvNpPdN7bc91\nz/eHxih8UnFXz8GxO8GDqQ4+pSKFAh2kuKMOM4tC+qBSLD7BKNPOLGIr6QIDAQAB\nAoGAATO8pTNObI9Wt/FDu6bvsKnGPEInNsmb0BbYLeQYkQEiE2ddgIwZthkFHiB5\nh8mzVPyDAeyfUZF/9u8hWlzQpyb2LOSgHraueL7P2jwTQOoE9d4O/7FsXoQB57H6\nl5Dtuoni9O9B/45S6hbUx53Rl2g7RuQj8IGBZccK6IdtU30CQQDRmM/raih6klAd\n2iSu3hBkw/SCr40iCfNHRD21xCNeBdhKddu9Wxaob7XO9ZSZkDrpLDOSlBtMNfZz\n21H3ZnCTAkEAwmQUzQSmJlikLxw3CHxFDeCF39Do+m/wW4GeWUux2QQCg+qFKMLE\nhgXcQr1LSV/EYlMaDRzyYNwrMLy2/biLEwJAJbqBKto4ISA3RbhfxA57GvhfCis5\nl3f9D8YL6a09xI3+yiB/Bo3f/T/mlTOFpULeJ9zqB6ebZlOMYnyHO6Z3+wJBALKj\nSkJF3XIrz2XDpgdUPBlOlXhjAVbz+4v8B8rDtwJZnv4fTJNyuSr4w7tJPaCGM3Cw\nMaaPTWYZrk8xfXCYYKUCQQCMewBZiEeAQ+wNv7Zk/NqPaRYbJNGgzuo+ixb/vPZ1\nR6RfK881pTifCVHGTr6IK2qdXnDLWi4YFMRe3sTktA4E\n-----END RSA PRIVATE KEY-----\n"
  GRACEFUL:
    MAX_SECOND: 5s

AUTH:
  JWT_TOKEN:
    EXPIRED: 24h
    REFRESH_EXPIRED: 720h
  
DB:
  MYSQL:
    HOST: mysql
    NAME: golang-stater
    PORT: 3306
    USER: root
    PASS: root
  REPOGEN:
    DB:
      HOST: mysql
      DATABASE: golang-stater
      PORT: 3306
      USERNAME: root
      PASSWORD: root

CACHE:
  REDIS:
    HOST: 
    DB: 
    PORT: 
    PASS: